:root{
    --dark: #212529;
    --subdark:#343A40;
    --mid: #6C757D;
    --sublight: #95B2B8;
    --light: #7EC9A3;
    --lightHVR: #3C9066;
    --lightText: whitesmoke;
    --bg: #495057;
}

* {
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    place-items: center;
    background-color: var(--subdark);
}
.hero{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 15px;
    background-color: var(--dark);
    color: var(--lightText);
}
.page-title{
    padding: 5px;
}

.location-form {
    color: var(--lightText);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    place-items: center;
    background-color: none;
    margin: 10px;
}

.card-body {
    padding: 5px;
}

.form-input{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: var(--dark);
    background-color: var(--light);
    text-align:center;
}

/* Button Style */
.btn {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: var(--dark);
    background-color:var(--light);
    text-align:center;
    transition: all 0.2s;
}

.btn:hover{
    background-color: var(--lightHVR);
}

.weather-display {
    color: var(--lightText);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /*grid-template: auto 1fr auto / auto 1fr auto;*/
    text-align: center;
    column-gap: 30px;
}

.weather-title {
    padding: 2rem;
    grid-column: 1 / 4;
}

.weather-left {
    grid-column: 1 / 2;
}

.weather-mid {
    grid-column: 2 / 3;
    
}

.weather-right {
    grid-column: 3 / 4;
}